// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#admin-page {
  padding-top: 0px;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  height: 34px;
}
#nested-comment {
  margin-top: 50px;
}
.comment-reply {
  display: none;
}